<div class="header-container">
  <div class="title-header">
    <img src="assets/layout/sg-logo.svg" style="width: 74px;height: 32px;"/>
    <div class="title">
      <div style="font-weight: 500; color: rgb(7, 7, 136);">Saint-Gobain</div> DataBot</div>
  </div>
  <div class="language-dropdown">
    <p-dropdown
      [options]="languages"
      [(ngModel)]="selectedLanguage"
      optionLabel="label"
      placeholder="Select Language"
      styleClass="pill-dropdown"
    ></p-dropdown>
    <div class="user-dropdown" (click)="toggleDropdown()" tabindex="0" (blur)="closeDropdown()">
      <div class="user-avatar">
        <i class="pi pi-user"></i>
        <span class="username">John Doe</span>
        <i class="pi pi-chevron-down"></i>
      </div>

      <ul *ngIf="isOpen" class="dropdown-menu">
        <li (click)="navigate('profile')">👤 Profile</li>
        <li (click)="navigate('settings')">⚙️ Settings</li>
        <li (click)="navigate('logout')">🚪 Logout</li>
      </ul>
    </div>
  </div>
</div>
