<div class="row chat-page">
  <div class="col-11">
    <div class="chat-container">
      <!-- <div *ngIf="false" class="initial-greeting">
        <h2>Hello! How can I help you today?</h2>
      </div> -->
      <div class="chat-box" #chatBox >
        <div class="message" *ngFor="let msg of messages">
          {{ msg.text }}
        </div>
      </div>
      <div class="input-box">
        <div class="input-wrapper">
          <input [(ngModel)]="currentMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." />
           <button pButton type="button" icon="pi pi-send" iconPos="right" class= "send-button-inside" 
           (click)="sendMessage()">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>