.chat-page {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  height: 100vh;

  &.centered {
    align-items: center;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
  justify-content: flex-end;
}

.chat-page.centered .chat-container {
  justify-content: center;
  height: auto;
}

.initial-greeting {
  text-align: center;
  margin-bottom: 24px;

  h2 {
    font-size: 24px;
    font-weight: 500;
    color: #2d3748;
  }
}

.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: #f8f8f8;
}

.chat-page.centered .chat-box {
  display: none;
}

.message {
  padding: 12px 18px;
  border-radius: 20px;
  max-width: 75%;
  font-size: 15px;
  line-height: 1.4;
  word-wrap: break-word;
  transition: transform 0.3s;
  border: 1px solid #e2e2e2;
}

.user {
  background: #f0f0f0;
  color: #093f2f;
  align-self: flex-end;
}

.bot {
  background: #e2ecff;
  color: #333;
  align-self: flex-start;
}

.input-box {
  padding: 15px;
  background-color: #f8f8f8;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  padding: 16px 60px 16px 20px;
  border-radius: 30px;
  border: 1px solid #cbd5e1;
  font-size: 15px;
  outline: none;
  transition: box-shadow 0.2s;
}

.input-wrapper input:focus {
  box-shadow: 0 0 0 2px #bfdbfe;
  border-color: #0010bc;
}

.send-button-inside:hover {
  background: #0a00c3;
  transform: translateY(-50%) scale(1.05);
}

.send-button-inside {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #000393 ;
  border-radius: 30px;
  margin: 0px 2px;
}
