<div class="row">
  <div class="col-12">
    <app-page-header [pageTitle]="'Chat'"></app-page-header>
  </div>
</div>
<div class="row chat-page">
  <div class="col-12">
    <div class="chat-container">
      <div *ngIf="!startedChat" class="initial-greeting">
        <h2>Hello! How can I help you today?</h2>
      </div>
      <div class="chat-box" #chatBox *ngIf="startedChat">
        <ng-container *ngFor="let msg of messages">
          <div class="message-wrapper">

            <div *ngIf="msg.text" class="message" [ngClass]="msg.sender">
              <div [innerHTML]="msg.text || msg.translatedText"></div>
            </div>
               <div *ngIf="msg.suggestions?.length" class="suggestions-tabs">
                 <p><strong>Suggested Follow-ups:</strong></p>
                  <div class="suggestion-chips">
                    <span
                      *ngFor="let suggestion of msg.suggestions"
                      (click)="handleSuggestionClick(suggestion)"
                      class="suggestion-chip"
                      tabindex="0"
                      role="button"
                      aria-pressed="false"
                    >
                      {{ suggestion }}
                    </span>
                    </div>
                  </div>

            <div *ngIf="msg.sender === 'bot' && msg.text" class="message-actions">
              <div class="language-dropdown-container">
                <label (click)="toggleDropdown(msg.id)">
                  {{ selectedLanguages[msg.id] || 'Change language' }}
                </label>
                <i class="pi pi-globe"></i>

                <div *ngIf="openDropdownMsgId === msg.id" class="dropdown">
                  <div (click)="translateMessage(msg, 'en')">English</div>
                  <div (click)="translateMessage(msg, 'fr')">French</div>
                  <div (click)="translateMessage(msg, 'es')">Spanish</div>
                  <div (click)="translateMessage(msg, 'hi')">Hindi</div>
                  <div (click)="translateMessage(msg, 'mr')">Marathi</div>
                  <div (click)="translateMessage(msg, 'te')">Telugu</div>
                  <div (click)="translateMessage(msg, 'gu')">Gujarati</div>
                </div>
              </div>

              <div class="divider"></div>
              <button class="download-button" (click)="downloadMessageAsPDF(msg.text, msg.id)">
                <div>Download PDF</div>
                <i class="pi pi-file-pdf"></i>
              </button>
            </div>

          </div>
        </ng-container>

        <div *ngIf="showLoader" style="text-align: center;">
          {{ currentLoadingMessage }}...
        </div>
      </div>
    </div>
      <div class="input-box">
        <div class="input-wrapper">
          <input [(ngModel)]="currentMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." />
          <div class="send-button-inside">
            <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />
            <button pButton type="button" icon="pi pi-database" class="recordButton" pTooltip="Connect to database" tooltipPosition="top"
              (click)="onDatabaseChange()" [ngClass]="{ 'selected': changedDatabase }"></button>
            <button pButton type="button" icon="pi pi-plus" class="recordButton"
              (click)="fileInput.click()"></button>
            <button *ngIf="!isRecording" pButton type="button" icon="pi pi-microphone" class="recordButton"
              (click)="statRecording()"></button>
            <button *ngIf="isRecording" pButton type="button" icon="pi pi-stop-circle" class="stopButton"
              (click)="stopRecording()"></button>
            <button pButton type="button" icon="pi pi-send" class="sendButton" (click)="sendMessage()"></button>
          </div>
      </div>
    </div>
  </div>
</div>