:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.sg-logo {
  max-height: 350px;
}

.projectName{
  color:rgb(7, 7, 136);
  font-size: 5rem;
  font-family: serif;
}

.is-invalid {
  border: 1px solid #dc3545;
}

@media (max-width: 576px) {
 .projectName{
    font-size: 3rem;
  }
  .sg-logo {
    max-height: 40px;
  }

}