body {
  background: linear-gradient(to bottom right, #f7f9fc, #edf1f7);
}
.project-name, .projectName{
    background: linear-gradient(to right, #294a91, #c9531d);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}